<div class="container">
    <div class="row">
        {{!-- Sidebar  --}}
        <div class="col-second">
            <div id="sidebar">
                <div class="sidebar-logo upper-text">
                    <p>logo</p>
                </div>
                <div class="sidebar-items ">
                    <ul class="none-style">
                        <li>Shirts</li>
                        <li>Dresses</li>
                        <li>
                            <ul class="sidebar-sub-items none-style">
                                <li>Skinny</li>
                                <li>Relaxed</li>
                                <li>Bootcut</li>
                                <li>Straight</li>
                            </ul>
                        </li>
                        <li>Jackets</li>
                        <li>Gymwear</li>
                        <li>Blazers</li>
                        <li>Shoes</li>
                    </ul>
                </div>
                <div class="sidebar-contract">
                    <p>Contract</p>
                    <p>Newsletter</p>
                    <p>Subscribe</p>
                </div>

            </div>
        </div>
        <div class="col-second">

        </div>
    </div>
</div>